<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="container">
        <div class="code">Pin: <span id="code">{{code}}</span></div>
        <div class="form">
            <input type="text" name="userName" id="usr" placeholder="Enter user name" autocomplete="off" maxlength="15">
            <button id="inv">Create Invitation</button>   
        </div>
        <ul id="links">
            <li data-url="url"><button class="del"></button><span>username</span><button class="cpy"></button></li>
            <li data-url="url"><button class="del"></button><span>username</span><button class="cpy"></button></li>
            <li data-url="url"><button class="del"></button><span>username</span><button class="cpy"></button></li>
            <li data-url="url"><button class="del"></button><span>username</span><button class="cpy"></button></li>
        </ul>
    </div>
</body>
</html>