<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="container">
        <div id="code">Pin: {{code}}</div>
        <div class="form">
            <input type="text" name="userName" id="usr" placeholder="Enter user name" autocomplete="off">
            <button>Create Invitation</button>   
        </div>
        <ul id="links">
            <li><a href="">Linkacz</a></li>
            <li><a href="">Linkacz</a></li>
            <li><a href="">Linkacz</a></li>
            <li><a href="">Linkacz</a></li>
            <li><a href="">Linkacz</a></li>
        </ul>
    </div>
</body>
</html>